!!! 5
html
  head
    title Splunkbot Web Interface
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    style(type='text/css')
          body {
          padding-top: 60px;
          padding-bottom: 40px;
          }
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/splunkbot/splunkbot.css')
    link(rel='stylesheet', href='/timeline.css')
    script(src='/bootstrap/js/jquery.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Splunkbot
          .nav-collapse
            ul.nav
              - if (page == 'index')
                li.active
                  a(href='/') Home
              - else
                li
                  a(href='/') Home
              - if (page == 'map')
                li.active
                  a(href='/map') Map
              - else
                li
                  a(href='/map') Map
              - if (page == 'stats')
                li.active
                  a(href='/stats') Stats
              - else
                li
                  a(href='/stats') Stats
              - if (page == 'urls')
                li.active
                  a(href='/urls') URLs
              - else
                li
                  a(href='/urls') URLs
              - if (page == 'live')
                li.active
                  a(href='/live') Live View
              - else
                li
                  a(href='/live') Live View
            - var placeholder = typeof search === 'undefined' ? 'Search' : search
            form.navbar-search.pull-left(action='/search')
              input(type='text', placeholder='#{placeholder}', name='q').search-query.span2
    .container
      != body
      hr
      footer
        p &copy; Splunk 2012
    script(src='/bootstrap/js/bootstrap-transition.js')
    script(src='/bootstrap/js/bootstrap-alert.js')
    script(src='/bootstrap/js/bootstrap-modal.js')
    script(src='/bootstrap/js/bootstrap-dropdown.js')
    script(src='/bootstrap/js/bootstrap-scrollspy.js')
    script(src='/bootstrap/js/bootstrap-tab.js')
    script(src='/bootstrap/js/bootstrap-tooltip.js')
    script(src='/bootstrap/js/bootstrap-popover.js')
    script(src='/bootstrap/js/bootstrap-button.js')
    script(src='/bootstrap/js/bootstrap-collapse.js')
    script(src='/bootstrap/js/bootstrap-carousel.js')
    script(src='/bootstrap/js/bootstrap-typeahead.js')
    script(src='/splunkbot/splunkbot.js')
    script(src='/splunkbot/client/splunk.js')
    script(src='/spin.js')
    script(src='/sprintf-0.7-beta1.js');